<h2>registro</h2>

<form>
    <div>
        <label for='nombre'> Nombre de Usuario </label>
        <input id='nombre' type='text' [formControl] = 'nombre'/>
    </div>
    <div>
        <label for='Contraseña'> Contraseña </label>
        <input id='Contraseña' type='password' [formControl] = 'contrasena'/>
    </div>
    <div>
        <label for='Confirmar Contraseña'> Confirmar Contraseña </label>
        <input id='Confirmar Contraseña' type='password'/>
    </div>
    <button>Cargar</button>

</form>
