<h2>registro</h2>

<!-- <form [FormGroup]='registerForm'> -->
<form>
    <div>
        <label for='username'> Nombre de Usuario </label>
        <br />
        <input id='username' type='text' [formControl] = 'username'/>
    </div>
    <div>
        <label for='password'> Contraseña </label>
        <br />
        <input id='password' type='password' [formControl] = 'password'/>
    </div>
    <div>
        <label for='ConfirmPassword'> Confirmar Contraseña </label>
        <br />
        <input id='ConfirmPassword' type='password' [formControl] = 'password'/>
    </div>
    <button>Cargar</button>

</form>
