.inicio-container {
  font: times "Times New Roman";
  text-align: center;
  padding: auto;
  font-weight: 300;
  margin: 16;
}

.form-container {
  text-align: center;
  font: times "Times New Roman";
  padding: auto;
  font-weight: 300;
  margin: 16;
}