
    <h1 class="inicio-container">USUARIO</h1>
    <form class="form-container">
        <div>
            <mat-form-field >
                <mat-label> Nombre de Usuario </mat-label>
                <input matInput id='username' type='text' [formControl] = 'username'>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field >
                <mat-label> Contraseña </mat-label>
                <input matInput id='password' type='password' [formControl] = 'password'>
            </mat-form-field>
        </div>
    <form>
    <button mat-stroked-button color="primary"(click)="iniciarSesion()">Iniciar sesion</button>
    <button mat-stroked-button color="primary" (click)="irARegistro()">Registrarse</button>
