<!-- <p>
    <mat-toolbar>
        <span>My Application</span>
    </mat-toolbar>
</p> -->
    <!-- <div>
        <button mat-raised-button routerLink href = "/inicio"> inicio </button>
        <button mat-raised-button routerLink href = "/registro"> registro </button>
        <button mat-raised-button routerLink href = "/mensajes"> mensajes </button>
    </div> -->


<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
        <span>Farmbook</span>
        <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>Registro</mat-icon>
    </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>Mensaje</mat-icon>
    </button>
</mat-toolbar>
