<h2 class="title-register">REGISTRO</h2>

<form class= "form-container"[formGroup]='registerForm'>
    <mat-form-field >
        <mat-label for='lastname'> Apellido </mat-label>
        <input required id='lastname' matInput id='lastname' type='text' formControlName = 'lastname'>
    </mat-form-field>
    <br />
    <mat-form-field >
        <mat-label for='name'> Nombres </mat-label>
        <input  required id='name' matInput id='name' type='text' formControlName = 'name'>
    </mat-form-field>
    <br />
    <mat-form-field >
        <mat-label for='username'> Nombre de Usuario </mat-label>
        <input  required id='username' matInput id='username' type='text' formControlName = 'username'>
    </mat-form-field>
    <br />
    <mat-form-field >
        <mat-label for='password'> Contraseña </mat-label>
        <input  required id='password' matInput id='password' type='password' formControlName = 'password'>
    </mat-form-field>
    <br />
    <mat-form-field >
        <mat-label for='ConfirmPassword'> Confirmar Contraseña </mat-label>
        <input  required id='   ConfirmPassword' matInput id='ConfirmPassword' type='password' formControlName = 'password'>
    </mat-form-field>
    <br />
    <div formGroupName='locationForm'>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Pais</mat-label>
                <mat-select id='country' formControlName = 'country' (selectionChange)="changeCountry(countries)" [(ngModel)]="selectedCountry">
                  <mat-option *ngFor="let country of countries" [value]="country.name">{{country.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Ciudad</mat-label>
                <mat-select id='city' formControlName='city' [(ngModel)]="selectedCity">
                  <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <button mat-stroked-button color="primary" (click)="registrarUsuario()"[disabled]="registerForm.invalid">Guardar</button>

</form>

