
  <div class="options-list">
    <button mat-button color="primary" (click)="irAMensajeNuevo()">Mensajes Nuevo</button>
    <br />
    <button mat-button color="primary" (click)="cargarMensajesEnviados()">Mensajes Enviados</button>
    <br />
    <button mat-button color="primary" (click)="cargarMensajesRecibidos()">Mensajes Recibidos</button>
  </div>


<table mat-table [dataSource]="mensajes" class="mat-elevation-z8">

    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>

    <ng-container matColumnDef="mensaje">
      <th mat-header-cell *matHeaderCellDef> Mensaje </th>
      <td mat-cell *matCellDef="let element"> {{element.mensaje}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="option-close">
  <button mat-button color="primary" (click)="cerrarSesion()">Cerrar Sesion</button>
</div>